arrow==0.10.0
backports.shutil-get-terminal-size==1.0.0
blessed==1.14.2
certifi==2017.4.17
chardet==3.0.4
cssmin==0.2.0
decorator==4.0.11
Django==1.11.3
django-allauth==0.32.0
django-appconf==1.0.2
django-compressor==2.1.1
django-extensions==1.8.1
django-gravatar2==1.4.0
django-haystack==2.6.1
django-mailman3==1.1.0
django-paintstore==0.2
django-picklefield==1.0.0
django-q==0.8.0
djangorestframework==3.6.3
enum34==1.1.6
future==0.16.0
httplib2==0.10.3
HyperKitty==1.1.0
idna==2.5
ipython-genutils==0.2.0
libsass==0.13.2
lockfile==0.12.2
mailmanclient==3.1
meld3==1.0.2
networkx==1.11
oauthlib==2.0.2
pathlib2==2.3.0
pexpect==4.2.1
pickleshare==0.7.4
postorius==1.1.0
prompt-toolkit==1.0.14
ptyprocess==0.5.2
Pygments==2.2.0
python-dateutil==1.5
python-openid==2.2.5
pytz==2017.2
rcssmin==1.0.6
requests==2.18.1
requests-oauthlib==0.8.0
rjsmin==1.0.12
robot-detection==0.4
scandir==1.5
simplegeneric==0.8.1
six==1.10.0
supervisor==3.3.2
traitlets==4.3.2
urllib3==1.21.1
waitress==1.0.2
wcwidth==0.1.7
Whoosh==2.7.4
